<div class="dice-roll">

    <div class="dice-result dice-flex">
        <div class="dice-formula">{{ roll.formula }}</div>
        <h4 class="dice-total">{{ roll.total }}</h4>
    </div>

    {{#if natural}}
    <div class="dice-result dice-flex">
        <div class="dice-formula">Rounded to:</div>
        <h4 class="dice-total">{{ roundedRoll }}</h4>
    </div>
    {{/if}}

    {{#if confirmedNatural}}
    <div class="dice-result dice-flex">
        <div class="dice-formula">Natural Confirmed.</div>
        <h4 class="dice-total">{{ roundedRoll }}</h4>
    </div>
    {{/if}}

    {{#if confirmedCritical}}
    <div class="dice-result dice-flex">
        <div class="dice-formula">Critical Confirmed!</div>
        <h4 class="dice-total">{{ roundedRoll }}</h4>
    </div>
    {{/if}}

    {{#if confirmedFumble}}
    <div class="dice-result fumble-confirmed">
        <div class="dice-formula">Fumble Confirmed...</div>
    </div>
    {{/if}}

</div>