<form class="{{cssClass}} flexcol" autocomplete="off">

    {{!-- Item Sheet Header --}}
    <header class="sheet-header flexrow">

        <img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

        <div class="header-details flexrow">
            <h1 class="charname">
                <input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'LEOBREW.ItemName' }}"/>
            </h1>
        </div>
    </header>

    {{!-- Item Sheet Navigation --}}
    <nav class="sheet-navigation tabs" data-group="primary">
        <a class="item active" data-tab="description">{{ localize "LEOBREW.Description" }}</a>
        <a class="item" data-tab="effects">{{ localize "LEOBREW.Effects" }}</a>
    </nav>

    {{!-- Item Sheet Body --}}

    <section class="sheet-body">

        <div class="tab flexcol active" data-group="primary" data-tab="description">

            <div class="item-properties flexrow">

                <div class="form-group">
                    <label>{{ localize "LEOBREW.Quantity" }}:</label>
                    <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number"/>
                </div>

                <div class="form-group">
                    <label>{{ localize "LEOBREW.Weight" }}:</label>
                    <input type="text" name="data.weight" value="{{data.weight}}"/>
                </div>

                <div class="form-group">
                    <label>{{ localize "LEOBREW.Price" }}:</label>
                    <input type="text" name="data.price" value="{{data.price}}"/>
                </div>

            </div>

            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            {{> "systems/leobrew/templates/parts/active-effects.html"}}
        </div>

    </section>

</form>
