@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/modesto-condensed/modesto-condensed.woff2') format('woff2');
}
@font-face {
  font-family: 'Modesto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../../fonts/modesto-condensed/modesto-condensed-bold.woff2') format('woff2');
}
.modesto {
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
}
.leobrew {
  /* ----------------------------------------- */
  /*  Element Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Navigation                         */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */
}
.leobrew.context-menu {
  box-shadow: none;
}
.leobrew.context-menu header {
  display: none;
}
.leobrew.context-menu .window-content {
  padding: 0;
  background: none;
}
.leobrew.context-menu .window-content .context-menu-content {
  width: 100%;
  background: #e4e3d9;
  border-radius: 5px;
  display: block;
}
.leobrew.context-menu .window-content .context-menu-content .content-menu-header {
  text-align: center;
  padding: 5px;
  background: #6f6f6f;
  color: #e4e3d9;
}
.leobrew.context-menu .window-content .context-menu-content .context-menu-item {
  width: 100%;
  line-height: 14px;
  font-size: 11px;
  padding: 2px;
  border: 0;
}
.leobrew.context-menu .window-content .context-menu-content .context-menu-item:hover {
  background: #a3a3a3;
  box-shadow: none;
}
.leobrew.custom-dialog.warning {
  text-align: center;
}
.leobrew .settings-dialog > * {
  flex: 0;
}
.leobrew .settings-dialog .skills-list-textarea {
  flex: 1;
}
.leobrew button {
  margin: 0;
}
.leobrew .window-content {
  height: 100%;
  padding: 5px;
  overflow-y: hidden;
}
.leobrew form {
  height: 100%;
}
.leobrew input[type="text"],
.leobrew input[type="number"],
.leobrew select {
  height: calc(100% - 2px);
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0.05);
  color: #191813;
}
.leobrew .button-select {
  display: flex;
  flex-direction: row;
}
.leobrew .button-select select {
  flex: 0;
}
.leobrew .button-select button {
  flex: 1;
}
.leobrew input[type="text"]:hover,
.leobrew input[type="number"]:hover,
.leobrew input[type="text"]:focus,
.leobrew input[type="number"]:focus {
  border: 1px solid #111;
  box-shadow: 0 0 8px red;
}
.leobrew input:disabled,
.leobrew select:disabled,
.leobrew textarea:disabled {
  color: #4b4a44;
  border: 1px solid transparent !important;
  outline: none !important;
}
.leobrew input:disabled:hover,
.leobrew select:disabled:hover,
.leobrew textarea:disabled:hover,
.leobrew input:disabled:focus,
.leobrew select:disabled:focus,
.leobrew textarea:disabled:focus {
  box-shadow: none !important;
  border: 1px solid transparent !important;
  outline: none !important;
}
.leobrew .editable .rollable:hover {
  cursor: pointer;
  color: #000 !important;
  text-shadow: 0 0 10px red;
}
.leobrew .editable h4.rollable:hover,
.leobrew .editable .rollable:hover > h4 {
  color: #000 !important;
  text-shadow: 0 0 10px red;
}
.leobrew span.sep {
  flex: none;
  margin: 0 1px;
  display: inline;
  position: relative;
  color: #7a7971;
  font-weight: normal;
}
.leobrew .hidden {
  display: none !important;
}
.leobrew .sheet-navigation {
  flex: 0 0 30px;
  margin-bottom: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
}
.leobrew .sheet-navigation .item {
  height: 30px;
  line-height: 32px;
  margin: 0 5px;
  border-bottom: 3px solid #b5b3a4;
}
.leobrew .sheet-navigation .item.active {
  border-bottom: 3px solid #44191A;
}
.leobrew .sheet-body {
  flex: 1;
  overflow: hidden;
}
.leobrew.sheet {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Active Effects                           */
  /* ----------------------------------------- */
}
.leobrew.sheet .window-content {
  overflow-y: hidden;
  padding: 5px;
  font-size: 13px;
  color: #191813;
}
.leobrew.sheet .window-content form {
  height: 100%;
  overflow: hidden;
}
.leobrew.sheet .window-content .tab {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;
}
.leobrew.sheet .editor {
  height: 100%;
}
.leobrew.sheet .editor .tox-toolbar-overlord,
.leobrew.sheet .editor .tox-toolbar__primary {
  background: none;
}
.leobrew.sheet .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #7a7971;
  flex: 1;
}
.leobrew.sheet .items-list .item-list {
  overflow-y: auto;
  scrollbar-width: thin;
  list-style: none;
  margin: 0;
  padding: 0;
  flex: 1 0 0;
}
.leobrew.sheet .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
}
.leobrew.sheet .items-list .item-name h3,
.leobrew.sheet .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.leobrew.sheet .items-list .item-controls {
  flex: 0 0 60px;
  justify-content: space-between;
}
.leobrew.sheet .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
}
.leobrew.sheet .items-list .item {
  align-items: center;
  padding: 3px 2px;
  border-bottom: 1px solid #c9c7b8;
}
.leobrew.sheet .items-list .item:last-child {
  border-bottom: none;
}
.leobrew.sheet .items-list .item .item-name {
  color: #191813;
}
.leobrew.sheet .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.leobrew.sheet .items-list .item .item-name .item-quantity {
  width: 24px;
  text-align: center;
}
.leobrew.sheet .items-list .item .item-description {
  display: none;
  color: black;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border: 2px groove #eeede0;
  border-radius: 2px;
}
.leobrew.sheet .items-list .item.expanded .item-description {
  display: block;
}
.leobrew.sheet .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.leobrew.sheet .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.leobrew.sheet .items-list .items-header h3 {
  padding-left: 5px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  font-size: 16px;
}
.leobrew.sheet .effects .item .effect-source,
.leobrew.sheet .effects .item .effect-duration,
.leobrew.sheet .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.leobrew.sheet .effects .item .effect-controls {
  border: none;
}
.leobrew.sheet.actor {
  min-width: 245px;
  padding: 5px;
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  General Styles                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Ability Scores                           */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Inventory Lists                          */
  /* ----------------------------------------- */
  /* Inventory List Filters */
  /* ----------------------------------------- */
  /*  Item Controls                            */
  /* ----------------------------------------- */
  /* ----------------------------------------- */
  /*  Biography                                */
  /* ----------------------------------------- */
}
.leobrew.sheet.actor .sheet-header {
  flex: 0 0 120px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.leobrew.sheet.actor .sheet-header .profile-img {
  margin-left: 5px;
  flex: 0 0 110px;
  height: 110px;
  justify-content: center;
  display: flex;
}
.leobrew.sheet.actor .sheet-header .profile-img img {
  height: 100%;
}
.leobrew.sheet.actor .sheet-header .header-fields {
  flex: 1;
  height: 100%;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources {
  flex: 0 0 auto;
  margin: 0;
  list-style: none;
  padding: 3px 2px;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource {
  margin: 0 5px 0 0;
  flex: 0;
  min-width: 100px;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource .resource-name {
  text-align: center;
  flex: 0;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource .resource-value {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource .resource-value.multiple input {
  flex: 0 0 33%;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource .resource-value input {
  line-height: 22px;
  flex: 1 0 auto;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource .resource-value button.level-up {
  padding: 0;
  font-size: 14px;
  line-height: 22px;
}
.leobrew.sheet.actor .sheet-header .header-fields ul.resources li.resource .resource-value button.level-up:disabled {
  color: rgba(16, 16, 16, 0.3);
}
.leobrew.sheet.actor .sheet-header h1.charname {
  flex: 0;
  padding: 0;
  border-bottom: 0;
}
.leobrew.sheet.actor .sheet-header h1.charname input {
  background-color: transparent;
  margin: 0;
}
.leobrew.sheet.actor .center-pane {
  padding-right: 5px;
  overflow: hidden;
  height: 100%;
}
.leobrew.sheet.actor .center-pane .armor-table {
  margin-top: 50px;
  flex: 0 1 auto;
  text-align: center;
}
.leobrew.sheet.actor .center-pane .armor-table table th {
  padding: 5px;
}
.leobrew.sheet.actor .center-pane .armor-table table td {
  padding: 5px;
}
.leobrew.sheet.actor .center-pane .hitboxes {
  width: 225px;
  height: 100%;
  left: 10px;
  position: relative;
}
.leobrew.sheet.actor .center-pane .hitboxes img {
  width: 213px;
  position: absolute;
  object-fit: contain;
  border: 0px;
}
.leobrew.sheet.actor .center-pane .hitboxes img.severe-injury {
  filter: url('#severe-injury');
}
.leobrew.sheet.actor .center-pane .hitboxes img.active {
  filter: drop-shadow(0 0 0.75rem crimson);
}
.leobrew.sheet.actor .center-pane .hitboxes .head {
  z-index: 5;
}
.leobrew.sheet.actor .center-pane .hitboxes .arms {
  z-index: 4;
}
.leobrew.sheet.actor .center-pane .hitboxes .legs {
  z-index: 3;
}
.leobrew.sheet.actor .center-pane .hitboxes .guts {
  z-index: 2;
}
.leobrew.sheet.actor .center-pane .hitboxes .chest {
  z-index: 1;
}
.leobrew.sheet.actor h4.box-title {
  height: 18px;
  line-height: 16px;
  margin: 4px 8px 2px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
  color: #4b4a44;
  border-bottom: 1px solid #c9c7b8;
  white-space: nowrap;
}
.leobrew.sheet.actor .ability-scores {
  flex: 0 0 auto;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
}
.leobrew.sheet.actor .ability-scores .ability {
  text-align: center;
  border: 2px groove #eeede0;
  border-radius: 5px;
  padding: 0 5px;
  margin-bottom: 5px;
}
.leobrew.sheet.actor .ability-scores .ability:not(:last-child) {
  margin-right: 5px;
}
.leobrew.sheet.actor .ability-scores .ability input.ability-score {
  height: 30px;
  width: 100%;
  margin: 0 auto 5px auto;
  font-size: 24px;
}
.leobrew.sheet.actor .main-container {
  flex-wrap: nowrap;
}
.leobrew.sheet.actor .character-information {
  flex: 2;
}
.leobrew.sheet.actor .skills-pane {
  flex: 1;
  display: inline-flex;
  flex-direction: column;
  min-width: 225px;
  overflow: hidden;
  padding: 5px;
  margin-right: 5px;
  border: 2px groove #eeede0;
  border-radius: 5px;
}
.leobrew.sheet.actor .skills-pane .skills-list {
  flex: 1 0 0;
  width: 100%;
  margin: 0 5px;
  overflow-y: scroll;
  overflow-x: hidden;
  align-content: flex-start;
}
.leobrew.sheet.actor .skills-pane .skills-list .skills-list-add {
  flex: 0 0 100%;
  padding: 3px 2px;
}
.leobrew.sheet.actor .skills-pane .skills-list .skills-list-add .skill-name-input {
  flex: 1;
}
.leobrew.sheet.actor .skills-pane .skills-list .skills-list-add .skill-add {
  flex: 0;
}
.leobrew.sheet.actor .skills-pane .skills-list ul {
  flex: 0 0 100%;
  margin: 0;
  list-style: none;
  padding: 3px 2px;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li {
  flex: 0 0 auto;
  padding: 0 7px 0 2px;
  margin: 2px 0;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li:hover .skill-action {
  opacity: 0.5;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li:hover .skill-action.active {
  opacity: 1;
  color: #4b4a44;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li .skill-action {
  flex: 0 0 16px;
  text-align: right;
  opacity: 0;
  color: #b5b3a4;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li .skill-action.active {
  color: #4b4a44;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li .skill-action:hover {
  color: #4b4a44;
  opacity: 1;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li input {
  max-width: 24px;
  text-align: center;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li label {
  flex: 0 1 auto;
  text-align: left;
  margin-left: 5px;
  line-height: 20px;
}
.leobrew.sheet.actor .skills-pane .skills-list ul li label.magic-skill {
  color: #5d184d;
}
.leobrew.sheet.actor .tab.traits,
.leobrew.sheet.actor .tab.inventory {
  overflow-y: hidden;
}
.leobrew.sheet.actor .inventory-filters {
  margin: 0 8px;
  flex: 0 0 20px;
  justify-content: flex-end;
}
.leobrew.sheet.actor .inventory-filters .currency {
  flex: 0 0 100%;
  list-style: none;
  margin: 4px 0 8px;
  padding: 0;
  font-size: 12px;
}
.leobrew.sheet.actor .inventory-filters .currency label {
  flex: 0;
  margin-left: 8px;
  text-align: right;
  line-height: 20px;
  color: #7a7971;
}
.leobrew.sheet.actor .inventory-filters .currency input[type="text"] {
  flex: 0 0 38px;
  text-align: center;
  margin-left: 8px;
  border-bottom: 2px groove #eeede0;
}
.leobrew.sheet.actor .inventory-list,
.leobrew.sheet.actor .traits-list {
  display: inline-flex;
  flex-direction: column;
  flex: 1;
  padding: 0 5px;
}
.leobrew.sheet.actor .inventory-list .item-header,
.leobrew.sheet.actor .traits-list .item-header {
  width: 100%;
}
.leobrew.sheet.actor .inventory-list .item:not(.editing) .item-header .item-name,
.leobrew.sheet.actor .traits-list .item:not(.editing) .item-header .item-name {
  cursor: pointer;
}
.leobrew.sheet.actor .inventory-list .item:not(.editing) .item-header .item-name:hover .item-image,
.leobrew.sheet.actor .traits-list .item:not(.editing) .item-header .item-name:hover .item-image {
  background-image: url("../../icons/svg/d10-grey.svg") !important;
}
.leobrew.sheet.actor .inventory-list .item:not(.editing) .item-header .item-name .item-image:hover,
.leobrew.sheet.actor .traits-list .item:not(.editing) .item-header .item-name .item-image:hover {
  background-image: url("../../icons/dice/d10black.svg") !important;
}
.leobrew.sheet.actor .inventory-list .inventory-header .item-controls a.item-create,
.leobrew.sheet.actor .traits-list .inventory-header .item-controls a.item-create {
  flex: 0 0 100%;
}
.leobrew.sheet.actor .inventory .item-controls {
  flex: 0 0 68px;
}
.leobrew.sheet.actor .inventory .item-controls .item-toggle {
  color: #b5b3a4;
}
.leobrew.sheet.actor .inventory .item-controls .item-toggle.active {
  color: #4b4a44;
}
.leobrew.sheet.actor .inventory .item-controls .item-toggle.fixed {
  color: #44191A;
}
.leobrew.sheet.actor .inventory .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.leobrew.sheet.actor .active {
  color: #4b4a44;
}
.leobrew.sheet.actor .description {
  width: 100%;
  display: inline-flex;
}
.leobrew.sheet.actor .description .editor {
  flex: 1 0 0;
}
.leobrew.sheet.actor .description .editor-content {
  border: 2px groove #eeede0;
  border-radius: 2px;
  padding: 5px;
}
.leobrew.sheet.item {
  /* ----------------------------------------- */
  /*  Sheet Header                             */
  /* ----------------------------------------- */
}
.leobrew.sheet.item .sheet-header {
  flex: 0;
}
.leobrew.sheet.item .sheet-header img.profile {
  border: 2px solid #000;
}
.leobrew.sheet.item .form-group {
  flex: 0 1 auto;
}
.leobrew.sheet.item .sheet-body {
  overflow: hidden;
}
.leobrew.sheet.item .sheet-body .tab {
  padding: 0 5px;
  overflow: hidden auto;
}
.leobrew.sheet.item .sheet-body .item-details table span {
  text-align: center;
  width: 100%;
}
.leobrew.sheet.item .sheet-body .item-details table tbody tr:nth-child(odd) {
  background-color: #c5c4b9;
}
.leobrew.sheet.item .sheet-body .item-properties {
  flex: 0 0 auto;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 2px groove #eeede0;
  border-top: 2px groove #eeede0;
}
.leobrew.sheet.item .sheet-body .item-properties .form-group {
  margin: 0 5px;
}
.leobrew.sheet.item .sheet-body .item-properties .form-group label {
  line-height: 20px;
}
.leobrew.sheet.item .sheet-body .item-properties .form-group input {
  text-align: right;
}
.leobrew.sheet.item .sheet-body .item-properties .properties-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.leobrew.sheet.item .sheet-body .item-properties .properties-list li {
  margin: 3px 0;
  padding: 0 2px;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}
.dice-roll .dice-flex {
  flex: 1 !important;
}
.dice-roll .dice-flex:last-child {
  padding-left: 5px;
}
.dice-roll .dice-flex:first-child {
  padding-left: 0;
}
.dice-roll .fumble-confirmed {
  padding-top: 5px;
  color: #b21a1a;
  font-weight: bold;
}
.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.dice-roll .dice-total.critical {
  color: green;
  box-shadow: inset 0px 0px 5px -1px green;
}
.dice-roll .dice-total.fumble {
  color: red;
  box-shadow: inset 0px 0px 5px -1px red;
}
.leobrew.chat-card {
  font-style: normal;
  font-size: 12px;
}
.leobrew.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #FFF;
  border-bottom: 2px groove #FFF;
}
.leobrew.chat-card .card-header img {
  flex: 0 0 36px;
  margin-right: 5px;
}
.leobrew.chat-card .card-header h3 {
  flex: 1;
  margin: 0;
  line-height: 36px;
  font-family: "Modesto Condensed", "Palatino Linotype", serif;
  font-size: 18px;
  font-weight: 700;
  color: #4b4a44;
}
.leobrew.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.leobrew.chat-card .card-content {
  margin: 5px 0;
}
.leobrew.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.leobrew.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
/*# sourceMappingURL=leobrew.css.map */